
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

td, th{
    vertical-align:middle !important;
    text-align:center !important;
    font-family:'Poppins';
    text-transform:uppercase;
    color:#fff;
}

#city-info{
    background:#fff;
}

th{
    font-size:25px;
    letter-spacing:1.5px;
}

body{
    background:transparent !important;
}

svg{
    height: 150px;
}

.input-group{
    margin:20px 0;
}

th{
    background-color: rgba(0,0,0,0.5) !important;
}

input{
    height:38px;
    transition:all 0.3s ease-in;
}

input:focus{
    height:90px;
}

td:first-of-type, td:first-of-type > div{
    width:250px;
    height:200px
}

html{
    background: url(../assets/sunny.jpeg);
    background-size: cover;
}

h2, td{
    color:#000 !important;
}